.header {
  max-width: 1280px;
  min-height: 52px;
  box-sizing: border-box;

  margin: 0 auto;
  padding: 0 48px;

  display: flex;
  justify-content: flex-end;

  background-image: url(../../images/header/header-logo.svg);
  background-repeat: no-repeat;
  background-position: 48px 0;
}

@media (max-width: 768px) {
  .header {
    padding: 0 24px;

    background-position: 24px 0;
  }
}

@media (max-width: 320px) {
  .header {
    min-height: 42px;

    padding: 0 16px;

    background-size: 142px;
    background-position: 16px 0;
  }
}